
\[ENGG67-AVA01\] Leandro Gama e Tito Victor.ipynb
Q1_knn_iris.ipynb
Trabalho 1/Trabalho 1 old.ipynb
Trabalho 1/template.ipynb
Trabalho 1/.ipynb_checkpoints/Trabalho 1-checkpoint.ipynb
.vscode/settings.json
Trabalho 4/heart.csv
